:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --btn-bgc: #f5f4fa;
  --primary-pt: 94px;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-text-color);  
  font-size: 14px;  
  letter-spacing: 0.03em;
}
h1, h2, h3, h4, h5, h6, p{
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}

.contact-link,
.nav-link,
.page-link{
  text-decoration: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  }
   
.list {
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  }

.hidden-title {position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;}

/* header */
.page-header {
  border-bottom: 1px solid #ECECEC;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  align-items:baseline
}
.header-container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

/* logo */
.logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  display: block;
  }
.logo-color {
  color: var(--accent-color);
}
.page-header .logo {
  padding: 24px 0;
}

/* site-nav */
.site-nav {
  list-style: none;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  padding: 32px 0;
  margin-left: 93px;
  }

.site-nav :not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  color: var(--title-text-color);
  }

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
  padding: 32px 0;
}
.nav-link.current {
  color: var(--accent-color);
}

/* contacts */
.contacts{
  margin-left: auto;
  display: flex;
 }

.list.contacts {
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
  }
    
.contact-link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  padding: 32px 0;
  
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
  }

 .contacts :not(:last-child) {
    margin-right: 50px;
  }

  .email-icon,
  .tel-icon {
    margin-right: 10px;
    fill: currentColor;
 }
    
/* main */

.section-title{
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  }

.title {
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero-img.jpg);
  background-color: #C4C4C4; 
  background-size: cover;
  height: 600px;
  max-width: 1600px;  
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px; 
  }

.hero-title {
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 696px;
  
}

/* buttons */
.btn {
  border-style: none;
  border: 1px solid transparent;
  outline: 0;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  color: var(--primary-text-color);
  background-color: var(--white-text-color);
  cursor: pointer;
  font-family: inherit;
  display: flex;
  align-items: center;
  }

.btn.main {
  width: 216px;
  height: 50px;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  display: inline-flex; 
  justify-content: center;
  align-items: center;
  }

.btn.main:hover,
.btn.main:focus {
  background-color: #188CE8;  
}

.btn.secondary {
  color: var(--title-text-color);
  background-color: var(--btn-bgc);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
}

.btn.secondary:hover,
.btn.secondary:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

/* benefits */
.benefits {
  padding-top: var(--primary-pt);
}

.benefits-list {
  display: flex;  
  flex-wrap: wrap;
  gap: 30px;
}
.benefits .title {
  color: var(--title-text-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.benefits-description {  
  line-height: 1.71;
  width: 270px;
}

.benefits-items {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* activity */

.activity {padding-top: var(--primary-pt);
 padding-bottom: var(--primary-pt);}

.section-title {
  text-align: center;
}

.activity-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/* teem */
.teem {padding-top: var(--primary-pt);
  padding-bottom: var(--primary-pt);
  background-color: var(--btn-bgc);
}

.teem-descr {
  padding: 30px 10px;
}
.teem .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.teem .profession {
  font-size: 16px;
  line-height: 1.19;
  margin-top: 10px;
  margin-bottom: 16px;
}

  .teem-list {
    display: flex;
    margin-top: 50px;
    text-align: center;
    flex-wrap: wrap;
    gap: 0 30px;
    
}
  .teem-card {
    background-color: #fff;
    flex-basis: calc(100% - 30px * 3) / 3;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 0 10px;
  }

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  }

  .social-icon {
    fill: #AFB1B8;
  }
  .social-link:hover,
  .social-link:focus {
    background-color: var(--accent-color)
  }
  .social-item:hover .social-icon,
  .social-item:focus .social-icon {
    fill: var(--white-text-color);
  }

/* Clients */
.clients {
  width: 1200px;
  padding-top: var(--primary-pt);
  padding-bottom: var(--primary-pt);
  margin-left: auto;
  margin-right: auto;
}

.clients .section-title {
  padding-bottom: 50px;
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:0 30px;
  }

  .client-link {
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
    }
  .client-icon {
      fill: #AFB1B8;
    }
  .client-link:hover {
      border: 1px solid var(--accent-color);
    }
  .client-link:hover .client-icon {
  fill: var(--accent-color);
}

/* footer */

.page-footer {
  background-color: #2f303a;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer .container {
  display: flex;
  align-items: baseline;
}

.page-footer .logo {
  color: var(--white-text-color);
  margin-bottom: 20px;
}
  
.address-item {
  margin-bottom: 10px;
}

.address-item:last-child {
  margin-bottom: 0;
}
  
.page-footer .list {
  font-style: normal;
  list-style: none;
}

.post-address {
  color: var(--white-text-color);
  text-decoration: none;
}
.post-address:hover,
.post-address:focus {
  color: var(--accent-color);
}

.contacts-footer {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--accent-color);
}

.address-list {
  width: 231px;
  margin-right: 70px;
}

.call {
  text-transform: uppercase;
  color: var(--white-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  }

  .footer-social {
    margin-top: 20px;
  }

  .footer-social-link {
    background-color: rgba(255, 255, 255, 0.1);
    }

  .footer-social-icon {
    fill:var(--white-text-color) ;
  }

/* portfolio */

.projects-main {
  padding-top: var(--primary-pt);
  padding-bottom: var(--primary-pt);
}

.portfolio-section-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.project-type {font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
  padding-top: 4px;
}

.btn-list {
  display: flex;
  justify-content: center;
}

.btn-item:not(:last-child){
  margin-right: 8px;
}

.portfolio-list {
  margin-top: 34px;  
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  
}

.portfolio-items {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top:none;
  }

  .page-link {
    display: block;
   
  }

  .page-link:hover,
  .page-link:focus {
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  }
